$background-color : #173f5f;
$primary-color: #3caea3;
$secondary-color: #f6d55c;

body {
  background-color : $background-color;
}

.container {
  background-color: $primary-color;
}

.entry {
  border: 4px solid $background-color;
}

.addVelo {
  background-color: $background-color;
  color: $secondary-color
}
