/* Palette                */
$background-color : #404040;
$primary-color: #87A0B2;
$secondary-color: #F2B705;
$robb-button-peace : #A2D082;
$robb-button-robbed : #C82425;
$alerts : rgba(200, 1, 0, 0.4);
/*                        */
body {
  background-color : $background-color;
}

.header {
  background-color: $secondary-color;
}

.miniature {
  max-height: 80px;
}

.alerts {
  background-color: $alerts;
}

.error {
  color: red;
  font-weight: bold;
}

.container {
  background-color: $primary-color;
  padding: 1rem 1rem;
}

.addVelo {
  background-color: $background-color;
  color: $secondary-color
}

input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $background-color;
}

.button {
  cursor: pointer;
}

/* Having some fun with buttons */
.robb_button_peace {
  border-radius: 35% 65% 28% 72% / 68% 60% 40% 32%;
  background-color: $robb-button-peace;
  transition : background-color 0.8s, border-radius 0.8s;
  height: 2rem;
  width: 100%;
}

.robb_button_peace:hover {
  border-radius: 64% 36% 55% 45% / 68% 60% 40% 32%;
  background-color: $robb-button-robbed;
}

.robb_button_robbed {
  border-radius: 64% 36% 55% 45% / 68% 60% 40% 32%;
  background-color: $robb-button-robbed;
  transition : background-color 0.8s, border-radius 0.8s;
  height: 2rem;
  width: 100%;
}

.robb_button_robbed:hover {
  border-radius: 35% 65% 28% 72% / 68% 60% 40% 32%;
  background-color: $robb-button-peace;
}