<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>WVS</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://kit.fontawesome.com/053139c009.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="header row justify-content-between align-items-center" id="localisation">
        <div class="col-12 col-lg-2"><h1>WVS</h1></div>
        <input type="text" placeholder="Entrez une localité" class="col-12 col-lg-5" v-model="finder.kw" v-on:keyup.enter="locate_user()" />
        <div class="col-12 col-lg-3">Localisé à : {{ locality }}</div>
    </div>
    <div class="content row justify-content-around" id="bike-board">
        <div v-for="bike,id in bikes" class="col-12 col-lg-3 card bike">
            <img class="card-img-top" v-bind:src="bike.picture" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ bike.reference }}</h4>
                <p class="card-text">
                    {{ bike.distance }} km
                </p>
                <div v-if="bike.seen.toggle">
                    <textarea title="Ecrivez un message au propriétaire" placeholder="Ecrivez un message au propriétaire. Pensez à y intégrer vos coordonnées si vous le souhaitez" rows="5" v-model="bike.seen.message"></textarea>
                    <button class="btn btn-primary button-peace" @click="report_found(id)">Envoyer</button>
                    <button class="btn btn-secondary" @click="toggle_seen(id)">Masquer</button>
                </div>
                <button v-else @click="toggle_seen(id)" class="btn btn-primary button-robbed">Je l'ai vu !</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/index.js"></script>
</body>
</html>