<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Wanted Vélo</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://kit.fontawesome.com/053139c009.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="header row justify-content-between align-items-center" id="authentication">
        <div class="col-3"><h1>Wanted Vélo</h1></div>
        <div class="col-5">
            <template v-if="isAuthenticated === false">
                <input type="text" class="email" placeholder="EMAIL" v-model="user.email" v-on:keyup.enter="send_mail"/>
                <i v-if="mail_sent === false" class="far fa-arrow-alt-circle-right fa-2x button" @click="send_mail"></i>
            </template>
            <h3 v-else>{{ user.email }}</h3>
            <input type="text" class="loginToken" placeholder="TOKEN" v-if='mail_sent === true' v-model="credentials.loginToken" v-on:keyup.enter="get_token"/>
            <div v-if="error.errored" class="error">{{ error.error_message }}</div>
    </div>
        <div class="col-2 text-right">
            <i v-if="isAuthenticated === true" v-on:click="switch_edition" class="button fas fa-user-edit fa-2x" title="Modifier mes informations"></i>
            <i v-if="isAuthenticated === true" v-on:click="log_out" class="button fas fa-times-circle fa-2x" title="Se déconnecter"></i>
        </div>
        <div class="col-12 col-">
        <input type="text" placeholder="Email" v-if="open_edition" v-model="user.email" v-on:keyup.enter="edit_informations" />
        <input type="text" placeholder="Phone" v-if="open_edition" v-model="user.phone" v-on:keyup.enter="edit_informations" />
        <input type="text" placeholder="Username" v-if="open_edition" v-model="user.username" v-on:keyup.enter="edit_informations" />
        </div>
    </div>
    <div class="entry row align-content-between" id="bikeList">
        <template v-if="toggle_list">
            <table class="col-lg-12 text-center">
                <thead>
                    <tr>
                        <th><h2>Vélo</h2></th>
                        <th><h2>N° Cadre / Bicycode</h2></th>
                        <th><h2>Photo</h2></th>
                        <th><h2>Etat</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterations of bikes -->
                    <template v-for="bike, key in bikeList">
                        <tr>
                            <th v-if="bike.editing">
                                <input type="text" placeholder="Nom de votre vélo" v-model="bike.name" v-on:keyup.enter="edit_bike(key)"/>
                            </th>
                            <th @click="toggle_editing(key)" v-else>
                                {{ bike.name }}
                            </th>

                            <th v-if="bike.editing"><input type="text" placeholder="N° Cadre / Bicycode" v-model="bike.reference" v-on:keyup.enter="edit_bike(key)"/></th>
                            <th @click="toggle_editing(key)" v-else>{{ bike.reference }}</th>

                            <th>
                               <a v-if="bike.picture !== null" v-bind:href="bike.picture" target="_blank"> <img v-bind:src="bike.picture" class="miniature"/></a>
                                <span v-else>Aucune</span>
                            </th>

                            <th @click="change_robbed(key)">
                                <div v-if="bike.robbed===false" class="button robb_button_peace" title="Ce vélo n'est pas volé. Déclarer un vol ?"></div>
                                <div v-else class="button robb_button_robbed" title="Ce vélo est déclaré volé. Le déclarer trouvé ?"></div>
                            </th>
                            <th>
                                <template v-if="bike.alerts.length > 0">
                                    <i v-if="bike.details_toggled" class="fa fa-arrow-up button" @click="toggle_detail(key)" title="Voir les alertes"></i>
                                    <i class="fa fa-arrow-down button" @click="toggle_detail(key)" title="Voir les alertes" v-else></i>
                                </template>
                                <i v-if="bike.editing" @click="edit_bike(key)" class="button fas fa-save fa-2x" title="Sauvegarder les changements"></i>
                            </th>
                        </tr>
                        <!-- TODO: Alert autotoggled when present -->
                        <template v-if="bike.details_toggled">
                            <!-- TODO : See coordinates on Gmap -->
                            <tr v-for="alert in bike.alerts" class="alerts">
                                <th colspan="1"><strong>Vu le {{ alert.date }} <a v-bind:href="map_link(alert.coords)" target="_blank">ici</a></strong></th>
                                <th colspan="4" class="text-left">{{ alert.message }}</th>
                            </tr>
                        </template>
                    </template>

                    <!-- New bike interface -->
                    <tr v-if="appending">
                        <th><input type="text" placeholder="Nom de votre vélo" v-model="new_bike.name" /></th>
                        <th><input type="text" placeholder="N° Cadre / Bicycode" v-model="new_bike.reference" /></th>
                        <th><input type="file" id="picture" ref="picture" v-on:change="handleFileUpload()" /></th>
                        <th>
                            Oui
                            <input type="radio" v-model="new_bike.robbed" v-bind:value="true" />
                            <input type="radio" v-model="new_bike.robbed" v-bind:value="false" />
                            Non
                        </th>
                        <th>
                            <button v-on:click="register_bike">Enregistrer</button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <i class="button col-6 fas fa-plus-square fa-2x text-right" v-if="appending===false" v-on:click="switch_appending"></i>
            <i class="button col-6 fas fa-minus-square fa-2x text-right" v-else v-on:click="switch_appending"></i>
            <i class="button col-6 fas fa-sync fa-2x text-left" v-on:click="refresh_bike_list"></i>
        </template>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/index.js"></script>

</body>
</html>